name: Mirror and run GitLab CI

on: [push, pull_request_target]

env:
  GITLAB_USERNAME: ${{ secrets.GITLAB_USERNAME }}
  GITLAB_PASSWORD: ${{ secrets.GITLAB_TOKEN }}
  GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
  # Repo-URL without https:// at beginning!
  GITLAB_REPO_URL: "codebase.helmholtz.cloud/j.fritz/github2gitlab_dummy.git"
  FORCE_PUSH: "true"
  GITLAB_HOSTNAME: "codebase.helmholtz.cloud"
  GITLAB_URL: "https://codebase.helmholtz.cloud"
  GITLAB_PROJECT_ID: "6234"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  # svanboxel:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Mirror + trigger CI
  #     uses: SvanBoxel/gitlab-mirror-and-ci-action@master
  #     with:
  #       args: "https://gitlab.hzdr.de/j.fritz/github2gitlab_dummy.git"
  #     env:
  #       FORCE_PUSH: "true"
  #       GITLAB_HOSTNAME: "gitlab.hzdr.de"
  #       GITLAB_USERNAME: "j.fritz"
  #       GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
  #       GITLAB_PROJECT_ID: "6234"
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ubc_github2gitlab:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - name: pull github2gitlab
        uses: actions/checkout@v3
        with:
          repository: jakob-fritz/github2gitlab_action
          ref: master
          path: github2gitlab_action
      - name: check cloning
        run: |
          ls
      - name: check cloning
        run: |
          ls ./github2gitlab_action/
      - name: install github2gitlab
        run: |
          pip install ./github2gitlab_action
      # - name: get git info
      #   run: |
      #     git status
      - name: Mirror
        run: |
          chmod +x ./github2gitlab_action/bin/mirror.sh
          chmod +x ./github2gitlab_action/bin/getpasswd.sh
          ./github2gitlab_action/bin/mirror.sh
      # - name: Update Merge-Requests
      #   run: |
      #     chmod +x ./github2gitlab_action/bin/getpasswd.sh
      #     github2gitlab \
      #       --gitlab-url "$GITLAB_URL" \
      #       --gitlab-token "${{ secrets.GITLAB_TOKEN }}" \
      #       --gitlab-repo "j.fritz/github2gitlab_dummy" \
      #       --gitlab-repo-id "6234" \
      #       --github-token "${{ secrets.GITHUB_TOKEN }}" \
      #       --github-repo jakob-fritz/Github2Gitlab_dummy \
      #       --ignore-closed
      - name: Get state of Gitlab-CI
        run: |
          chmod +x ./github2gitlab_action/bin/get_ci_state.sh
          ./github2gitlab_action/bin/get_ci_state.sh
